*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}
body{
  background-color: #fff;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  body{
    background-color: #f6f5f5;
    width: 120vw;
  }
}
@media (max-width: 1165px) {
  body{
    background-color: #f6f5f5;
    width: 120vw;
  }
}